header{
    background-color: white;
}
.button:hover{
    background-image: linear-gradient(180deg,#f84263,#ff3314);
}
.button1:hover{
    background-image: linear-gradient(180deg,#68fac7,#4bdecc);
    border-color: #4bdecc;
}
nav .navbar-l{
    float: left;
    line-height: 100px;
}
.navigation ul:first-child{
    float: right;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navbar-a{
    padding: 2px 18px;
    text-decoration: none;
    color: #3f4244;
    font-size: 16px;
}
.has-menu{
   position: relative;
}
.menu{
    position: absolute;
    display: none;
    background-color: green;
    border: 1px solid black;
    z-index: 1;
}
.menu a{
    display: block;
}
.has-menu:hover .menu{
    display: block;
}
.has-menu:hover ul{
    background-color: white;
}
.navbar-a.active, .navigation a:hover{
    display: block;
    background-image: linear-gradient(180deg,#68fac7,#4bdecc);
    line-height: 40px;
    border-radius: 10px;
    color: white;
}
.info{
    background-image: linear-gradient(180deg,#6cfec6,#43d6cd);
    background-size: auto;
}
.info-c{
    padding: 150px 102px;   
    width: 1068px; 
}
.info-c{
    padding-top: 115px;
    padding-bottom: 120px;
}
.info-c .text{
    font-size: 60px;
    text-align: center;
}
.info-c .text p{
    margin-bottom: 25px;
}
.info-c a, .service-b a{    
    text-decoration: none;
    color: white;   
    font-size: 16px;
    background-image: linear-gradient(180deg,#ff6c54,#ff3458);
    border-radius: 10px;
    padding: 26px 54px;
}
.service-c{
    padding:90px 0px 0px 0px;
}
.service-c{
    display: inline-block;
    padding-bottom: 43px;
    overflow: hidden;
}
.service-contain{
    width: 272px;
    padding:0px 8px;
    text-align: center;
}
.service-contain .title{
    margin-top: 20px;
}
.service-contain .detail{
    margin-top: 40px;
    color: #929ba0;
    font-size: 14px;
}
.service-b{
    text-align: center;
    padding-top: 18px;
    padding-bottom: 102px;
    background-color: white;
}
.design{
    background-image: linear-gradient(180deg,#ff6c54,#ff3858);
}
.design-c{
    padding: 90px 0px 0px 20px;
}

.feeds-c, .team-c{
    padding: 80px 0px 0px 20px;
}
.design-c-t{
    padding-bottom: 140px;
}
.design-c-t p, .feeds-c-t p{
    color: white;
    text-align: center;
}
.design-c-t p:first-child{
    margin-bottom: 40px;
    font-size: 40px;
}
.responsive-l{
    float: left;
    height: 570px;
    margin-left: 75px;
}
.responsive-r{
    float: right;
    width: 570px;
    margin-top:145px;
}
.responsive-r p:first-child{
    font-size: 40px;
    padding-left: 10px;
    padding-bottom: 48px;
}
.responsive-r .detail{
    color: #929ba0;
}
.responsive-r-b a{
    text-decoration: none;
    color: white;   
    font-size: 16px;
    background-image: linear-gradient(180deg,#ff6c54,#ff3458);
    border-radius: 10px;
    padding: 26px 54px;
}
.responsive-r-b{
    margin-top: 100px;
}
.feeds{
    background-image: linear-gradient(180deg,#59ebc9,#4bdecc);
}
.feeds-c{
    padding: 80px 0px 50px 0px;
}
.feeds-c-t p{
    color: white;
    text-align: center;
}
.feeds-c-t p:first-child{
    margin-bottom: 40px;
    font-size: 40px;
}
.feeds-navbar{
    text-align: center;
    margin-top: 100px;
}
.feeds-navbar ul{
    list-style: none;
}
.feeds-navbar ul li{
    color : black;
    display: inline-block;
    padding: 0px 25px;
}
.feeds-navbar ul li a{
    text-decoration: none;
}
.feeds-navbar    ul li a:hover{
    color: white;
}
.feeds-navbar .active{
    color: white;
}
.feeds-content .content{
    width: 370px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 17px;
    display: inline-block;
}
.feed-content .content:first-child{
    padding-left: 0px;
}
.feeds-content{
    padding-bottom: 50px;
    margin-top: 50px;
}
.feeds-content .content figure{
    width: 370px;
}
.feeds-content .content img{
    width: 100%;
    max-height: 240px;
}
.feed-link a{
    display: block;
    padding-bottom: 20px;
}
.feed-link p{
    text-align: center;
    color: #929ba0;
    padding: 20px 30px 10px 30px
}
.feed-link{
    text-decoration: none;
}
.feed-link .title{
    color: black;
    font-ceight: bold;
    font-size: 20px;
}
.more-feeds-icon{
    text-align: center;
}
.more-feeds-icon a{
    text-align: center;
}
.live-data{
    background-color: #233537;
}
.live-data-c{
    padding: 57px 0px 90px 0px;
}
.live-content{  
    width: 270px;
    text-align: center ;
    display: inline-block;
}
.live-content .db-data{
    color: white;
    padding-top: 40px;
    padding-bottom: 29px;
    font-size: 30px;
}
.live-content .title{
    color: #10cab7;
}
.team-c-t p{
    text-align: center;
    color: #afb6b9;
}
.team-c-t p:first-child{
    font-size: 35px;
    margin-bottom: 40px;
    color: black;
    font-ceight: 100;
}
.team-c-t{
    padding-bottom: 98px;
}
.team-c-b{
    width: 1170px;
}
.team-content,.client-content{
    width: 270px;
    text-align: center;
    font-size: 16px;
}
.team-content .content figure{
    width: 270px;
}
.team-content .content img{
    width: 100%;
    max-height: 200px;
}
.team-c-b ul,.client-b ul{
    list-style: none;
}
.team-c-b ul li{
    background-image: linear-gradient(180deg,#5defc9,#4addcc);
    display: inline-block;
    margin-right: 18px;
}
.team-c-b img{
    width: 270px;
}
.team-content .name, .client-b .name{
    font-ceight: 100;
    padding-top: 34px;
    font-size: 20px;
}
.team-content .post,.client-b .post{
    color: white;
    padding-bottom: 31px;
}
.team-content .detail,.client-b .detail{
    padding-bottom: 31px;
}
.team-c-b{
    padding-bottom: 56px;
}
.scrolling{
    background-image: linear-gradient(180deg,#ff5b55,#ff3558);
}
.scrolling-c{
    text-align: center;
}
.pause{
    padding-top: 96px;
    padding-bottom: 16px;
}
.option{
    padding-top: 50px;
    padding-bottom: 80px;
}
.scrolling-c p{
    color:white;
    font-size: 18px;
}
.scrolling-c .title{
    font-size: 26px;
}
.scrolling-c ul{
    list-style: none;
}
.scrolling-c li{
    display: inline-block;
}
.left-btn{
    margin-right: 16px;
}
.right-btn{
    margin-left: 16px;
}
.subscribe{
    background-color: #233537;
}
.subscribe-c{
    padding-top: 70px;
}
.subscribe-content p{
    color: white;
    font-size: 26px;
    margin-bottom: 48px;
    font-ceight: 100;
}
.subscribe-content form{
    display: inline-block;
}
.subscribe-content .button1{
    margin-left: 20px;
}
.subscribe-content input{
    width: 320px;
    height: 48px;
    padding:0px 20px;
    font-size: 26px;
    border-color: white;
}
.subscribe-content{
    text-align: center;
}
.subscribe-content a{
    padding: 16px 52px 22px 52px;
    border: 1px solid #66f8c7;
    color: white;
    text-decoration: none;
}
.about{
    background-color: white;
}
.about-c{
    padding: 95px 0px ;
}
.about-l{
    float: left;
    width: 570px;
}
.about-l img{
    width: 100%;
    height: 300px;
}
.about-r{
    padding: 38px 0px;
    float: right;
    width: 450px;
    padding-left: 50px;
}
.about-content h3{
    padding-bottom: 47px;
    font-size: 18px;
}
.about-content p{
    color: #929ba0;
}
.modern-design{
    background-image: linear-gradient(180deg,#58ebca,#53e6cb);
    clear: both;
    padding-top: 95px;
}
.modern-l{
    float: left;
    width: 250px;
    margin-left: 200px;
    margin-top: 30px;
}
.modern-r{
    padding-top: 111px;
}
.modern-content h3{
    font-size: 26px;
    color: white;
    padding-bottom: 25px;
}
.modern-content .white{
    color : white;
    padding-top: 25px;
    margin-left: 100px;
}
.client-t{
    text-align: center;
    margin-top: 118px;
    padding: 0px 200px;
}
.client-t p{
    color: #929ba0;
    font-size: 16px;
}
.client-t .title{
    font-size: 32px;
    font-ceight: bold;
    padding-bottom: 40px;
}
.client-content{
    width: 370px;
}
.client-b{
    padding-top: 80px;
    padding-bottom: 62px;
}
.client-b p{
    color: white;
    font-size: 16px;
}
.client-b p.name{
    font-size: 26px;
    padding-bottom: 15ox;
}
.client-b p.post{
    color: black;
}
.client-b ul li{
    background-image: linear-gradient(180deg,#5defc9,#4addcc);
    display: inline-block;
    margin-right: 17px;
}
.contact{
    background-image: linear-gradient(180deg,#ff6155,#ff3159);
}
.contact-container{
    padding : 0px 200px;
}
.content-t{
    padding-top: 50px;
}
.contact-t p{
    text-align: center;
    font-size: 16px;
    color: white;
}
.contact-t p:first-child{
    font-size: 26px;
    padding-bottom: 48px;
    padding-top: 86px;
}
.contact-b{
    margin-top: 55px;
}
.contact-b input{
    background-color: #ff3159;
    width: 320px;
    height: 48px;
    padding:0px 20px;
    font-size: 26px;
    border-color: white;
}
form .email{
    margin-left: 30px;
}
form .message{
    margin-bottom: 37px;
    margin-top: 88px;
    width: 720px;
}
button{
    padding: 20px 30px;
    font-size: 16px;
    background-color: #233537;
    color : white;
    float: right;
    margin-bottom: 90px;
}
.footer-t{
    padding-top: 115px;
    padding-bottom: 115px;
    background-color: #232e3d;
}
.footer-b-l{
    float: left;
    width: 800px;
}
.footer-t-l{
    width: 900px;
}
.footer-t-r{
    width: 370px;
    color: white;
    background-image: linear-gradient(180deg,#57eaca,#4cdecc);
}
.footer-t-r .content{
    font-size: 26px;
    padding: 40px;
}
.footer-b{
    background-color: #233537;
    text-align: center;
}
.footer-b-c p{
    color: white;
    line-height: 100px;
}
.footer-b-c p a{
    text-decoration: none;
    color: #10cab7;
}

.back-image{
    background: url("../image/google.png");
    background-size: cover;
    padding-top:180px;
}
.front-image{
    text-align: center;
    margin-top:-240px;
}



.mobile{
    position :relative;
    padding-top: 120px;
    margin-left: 200px;
    padding-left: 40px;
}
.mobile:hover .mobOut{
    z-index: -10;
}
.mobile .phone img{
    height:330px;
}
.mobile .mobOut{
    position :absolute;
    left:-100px;
    top: 60px;
}
.mobile .mobOut img{
    height: 430px;
}

@media screen and (max-cidth: 768px){

}

@media screen and (max-cidth:360px){

}