/* Start of header top */
/* Start of header top */
.header-top-l img{
    padding-top: 21px;
    padding-bottom: 13px;
}

.header-top-r ul{
    list-style-type: none;
}

.header-top-r span{
    height: 20px;
    width: 90px;
    /* padding: 10px 20px 10px 20px; */
    /* background-color: #60a29e; */
    background :url("../image/menu-active.png");
    background-size: auto;
    /* border: solid black; */
    /* border-width: 1px 2px 3px 1px; */
}
/* 
.header-top-r ul li a:hover{
    color: #5b9d93;
} */


.header-top-l img{
    width:103px;
     height:30px;
}

.header-top-r li{
    float: left;
    padding-left: 25px;
    padding-right: 28px;
}

#search{
    padding-right: 0px;
}

.header-top-r li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 80px;
}

.header-top-r ul img {
    background-repeat: no-repeat;
    padding-top: 32px;
}


/* End of heador top */
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/





/* Header bottom part */

.header-bottom-l{
    /* text-align: left; */
    color: #7c8282;
}

.header-bottom-r ul{
    list-style-type: none;
}

.header-bottom-r li{
    display: inline-block;
    color: #7c8282;
}

.header-bottom-r li a{
    text-decoration: none;
    color:#7c8282;
}

.header-bottom-r a:hover{
    color:black;
}
/* End of Header section */





/* Start of body section */
.about{
    padding-bottom: 29px;
}

.para p{
    line-height: 20px;
}



.col3-l{
    padding-top:73px;
}

.first-l{
    float: left;
    width: 250px;
    padding-right: 15px;
}

.first-main-wrapper{
    /* float: right; */
    width: 885px;
}

.first-main-container{
    float: left;
    width: 520px;
}

.first-main-container p a{
    text-decoration: underline;
    color: #808c8c;
}

.first-main-container p a:hover{color :red;}

.first-r{
    float: right;
    width:270px;
    padding-left: 15px;
    padding-bottom: 75px;
}

.first-l h3{
    padding-bottom: 36px;
    color: #808c8c;
}

.first-l ul{
    list-style: url("../image/bullet.png");
    padding-left: 20px;
}

.first-l ul li{
    line-height: 26px;;
}

.first-l li {
    color: #717171;
}

.first-main-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
}

.first-main-container p{
    color: #717171;
}

.about-graph{
    padding-top: 60px;
}

.graph{
    display: inline-block;
    padding-right: 5px;
}

.meter{
    position: relative;
}

.value{
    position: absolute;
    bottom: 18px;
    left: 50px;
}

.meter p{
    color:#7e7c81;
}

.name{
    text-align: center;
}

.first-r h3{
    padding-bottom: 36px;
    color:#808c8c;
}

.message{
    background-image: url("../image/message.png");
}

.message p{
    color: #717171;
}

.namee{
    padding-top: 20px;
    padding-left: 60px;    
}



.second{
    background-image: url("../image/our-team.png");
    background-position: left;
    background-repeat: repeat-x;
    background-color: #f3f3f3;
}

.team{
    padding-top: 50px;
}
.title{
    text-align: center;
    font-size: 40px;
}

.team{
    background: url("../image/background.jpg");
    background-position-x: left;
    background-repeat: repeat-x;
}

.team-wrapper{
    padding-top: 30px;
}

.team-container{
    width: 270px;
    height: 313px;
    position: relative;
    background-image: url("../image/profile.jpg");
    background-size: cover;
    position:relative;
    display: inline-block;
}

.team-info{
    display: none;
    padding: 20px 20px 20px 20px;
    line-height: 23px;
    position:absolute;
    top:0;
}

.team-info p{
    color :white;
}

.info ul{
    list-style-type: none; 
    padding-top: 110px;
}

.team-container:hover .team-info
{
    display: block;
}

.info ul li{
    float: left;
    width: 30px;
    height: 30px;
    padding-right: 25px;
    
}

.buton{
    background-image: url("../image/button.png");
    color: #fcffff;
    position: absolute;
    bottom: -15px;
    left:90px;
    border: 1px solid #fcffff;
    width: 100px;
    height: 30px;
    text-align: center;
}

.buton p{
    padding-top: 5px;
}

.team-container:hover .buton{
    background-image: url("../image/button-hover.png");
}


.team-container:hover{
    background-image: url("../image/team-info.jpg");
}


.final{
    background-color: #f3f3f3;
}

.final .head{
    color: red;
    text-align: center;
    font-size: 25px;
}

.final .info p{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.clients{
    padding-top: 40px;
}

.clients p{
    float: left;
    font-size: 25px;
}

.line{
    background-color: #e1e1e1;
    height: 8px;
    display: inline-block;
}

.more-info{
    float : right;
}

.more-info ul{
    list-style: none;
}

.more-info ul li{
    display: inline-block;
}

.more-info ul li:hover {
    background: url("../image/left-arrow-red.png");
}

/* .clients p{
    padding-top: 40px;
}

.more-info{
    float: right;
}

 .clients .line{ 
    background: url("../image/level.png");
    background-repeat: repeat-x;
    display: inline-block;
} 

.clients ul{
    list-style: none;
}
.clients ul li{
    display: inline-block;
} */

.queries{
    padding-top: 60px;
}

.query{
    display: inline-block;
}


/* .team-container:hover .team-info{
    display: block;
} */

/* Body part end here */




/* Footer part start */

/* Footer part start */

.footer-top{
    background: url("../image/bottom-bg.png");
    background-repeat: repeat-x ;
    background-color: #76c7c1;
    min-height: 255px;
    padding-top: 45px;
    
}

.footer-top-l{
    float: left;
    width: 340px;
}

.footer-top-l p{
    padding-top: 20px;
    line-height: 25px;
}

.footer-menu ul{
    list-style-image: url("../image/img-icon1.png");   
}

.footer-top-r{
    float : right;
    width: 830px;
}

.footer-menu{
    float: left;
}


.company{
    padding-left: 20px;
    width: 175px;
    float: left;
}

.community{
    padding-left: 20px;
    width: 170px;
    float: right;
}

.blog{
    float: right;
    width: 380px;
}

.blog p.title{
    font-size: 20px;
}

.blog ul{
    list-style: none;
}

.blog ul li{
    display: inline-block;
}

.blog li p{
    text-align: justify;
    width: 260px;
    padding-left: 20px;
}

.footer-bottom{
    height: 50px;
    background-color: #6bb4ad;
}

.copyright {
    float: left;
    width :200px;
    padding :20px
}

.subscriber{
    padding-top: 13px;
    float: right;
}

.subscriber a{
    padding-left: 24px;
}